### Compile ###
*~
target/
out/

### Maven ###
target/

### Eclipse ###
.project
.classpath
.settings/
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.launch

### NetBeans ###
nbactions.xml
nb-configuration.xml

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### SVN ###
.svn/

# Ignore patch and diff files
*.patch
*.diff
*.orig
pom.xml.versionsBackup
